* {
        margin : 0;
        padding: 0;
}

body {
        font-family: "Plus jaktara Sans", sans-serif !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}

.container {
        flex: 1;
}

.navbar {
        background-color: white !important;
        height: 5rem;
}

.nav-link{
        color: #222 !important;
}

.fa-compass{ 
        color:#fe244d;
        font-size: 2rem;
}

/* footer.... */

.f-info-links a{
text-decoration: none;
color:#222;
}

.f-info-links a:hover{
        text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.f-info-socials i{
        margin-right: 1rem;
}



.f-info {
        text-align: center;
        height: 8rem;
        display: flex;
        /* background-color: #ebebeb; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
}

/* cards */

.listing_card{
        border: none !important;
        margin-bottom: 2rem;
}

.card-img-top {
        border-radius: 1rem !important;
        width: 100% !important;
        object-fit: cover !important;
}

.card-body{
        padding: 0 !important;
}

.card-text p{
        font-weight: 400 !important;
}

.listing-link{
        text-decoration: none;
}

card {
        border : none !important;
        box-shadow : none !important;
}

.show-card {
        border : none !important;
        box-shadow : none !important;
        padding-left : 0;
        padding-right : 0;
}

*:focus {
        outline : none;
        
}

/* New Page */

.add-btn{
        background-color: #fe244d !important;
        border: none !important;
}

/* Edit Page */

.edit-btn{
         background-color: #fe244d !important;
        border: none !important;
        margin-left: 0px !important;
}

/* Show img */

.show-img{
        height: 30vh;
}

.btns{
        display: flex;

}

.show-card{
        padding-left: 0;
        padding-right: 0;
}

/* title */
#title{
        justify-content: center;
        display: flex;
}

.org-image {
        height : 170px;
        width : 250px;  
}

#editForm {
        margin-top:18px;
}

/* #showH {
        text-align: center;
        margin-right : 17rem;
} */


#hihi2 {
        text-decoration: underline;
}

footer {
        width : 100%!important;
}
.f-info {
        width: 100%
}